@import '../../variables';
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    .login-container{
        padding: 3rem;
        background-color: #fff;
        border-radius: 1rem;
        &--title{
            p{
                margin: 0.5rem 0;
                span{
                    text-decoration: underline;
                    &:hover{
                        cursor: pointer;
                    }}
                }
            }
            &--form{
                margin: 1rem 0;
                &-input{
                    display: flex;
                    flex-direction: column;
                    margin: 2rem 0;
                }
                .buttons{
                    display: flex;
                    flex-direction: column;
                    button{
                        margin: 0.5rem 0;
                    }
                    
                }
            }
        }
        p.error{
            margin: 1rem 0rem;
            color: $red-error;
        }
}
// DARK THEME
body.dark-theme{
    .login-page .login-container{
        background-color: $invoice-dark-bg;
        color: #fff;
        label{
            color: $gray;
        }
    }
}