@import "../../_variables";
.edit-invoice {
  position: fixed;
  background-color: #fff;
  padding: 4rem 5rem;
  top: 0;
  bottom: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 9;
  overflow-y: scroll;
  transition: all 0.4s ease;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($gray, 0.5);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track-piece {
    margin: 1rem 0;
  }
  &--show {
    left: 8rem;
  }
  &--hide {
    left: -100vw;
  }
  h4 {
    color: $purple;
    margin: 2rem 0;
  }
  section {
    margin: 4rem 0;
  }
  .input {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    width: 100%;
    label,
    .label {
      margin-bottom: 1rem;
    }
  }
  .multiple-inputs {
    display: flex;
    input{
      width: 100%;
    }
    .input:not(:first-of-type) {
      margin-left: 1.5rem;
    }
  }
  .date-inputs {
    display: flex;
    .input {
      width: 100%;
    }
    .input:not(:first-of-type) {
      margin-left: 1.5rem;
    }
  }
  .label {
    font-size: 1.2rem;
    color: $input;
    &.hidden{
      opacity: 0;
    }
  }
  .item-list--heading{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .item-list--items {
    border-collapse: collapse;
    text-align: left;
    td,th{
      padding: 1rem 2rem;
      &:first-of-type{
        padding-left: 0;
      }
    }
    td svg{
      cursor: pointer;
      path:hover{
        fill: #EC5757;
      }
    }
    .big{
      max-width: 22rem;
      input{
        max-width: 21rem;
      }
    }
    .medium{
      max-width: 10rem;
      input{
        max-width: 9rem;
      }
    }
    .small{
      max-width: 5rem;
      input{
        max-width: 4rem;
      }
    }
    .centered,.centered input{
      text-align: center;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    
  }
  .buttons{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem 5rem 2rem 0;
    background-color: #fff;
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    z-index: 2;
    .buttons-right button:first-of-type{
      margin-right: 1rem;
    }
  }
  .button button {
    margin-top: 2rem;
    width: 100%;
  }
}
// DARK THEME
body.dark-theme{
  .edit-invoice{
    background-color: $dark-bg;
    h2{
      color: #fff;
    }
    label,.label{
      color: $gray;
    }
    .item-list--heading{
    color: $input;
    }
    td{
      color: $gray;
    }
    .buttons{
      background-color: $dark-bg;
    }
    .button button {
      background: $invoice-dark-bg;
    }
  }  
}
// MEDIA QUERIES
// TABLET
@media screen and (max-width: 768px){
  .edit-invoice{
    &--hide {
      left: -200vw;
      top: 8rem;
    }
    &--show {
      left: 0;
      top: 8rem;
    }
  }
}
@media screen and (max-width: 720px){
  .edit-invoice{
    &--show {
      left: 0;
      right: 0;
    }
  }
}
@media screen and (max-width: 595px){
  .edit-invoice{
    padding: 4rem 2rem;
    &--show {
      left: 0;
      right: 0;
    }
    .item-list--items {
      td,th{
        padding: 1rem;
        &:first-of-type{
          padding-left: 0;
        }
      }
        min-width: 100%;
      tbody{
        min-width: 100%;
      }
      &--lower-body{
        display: block;
        min-width: 100%;
        th,td{
          width: 30%;
        }
      }
    }
    .big{
      // max-width: 100vw;
      // display: inline-block;
      padding-right: 0;
      min-width: 100%;
      input{
        // max-width: 100rem;
        min-width: 100%;
      }
    }
    .date-inputs {
      flex-wrap: wrap;
      .input:not(:first-of-type) {
        margin-left: 0;
      }
    }
    .button{
      margin-bottom: 7rem;
    }
    .buttons{
    justify-content: center;  
    padding: 2rem 0rem 2rem 0;
    button{
      margin: 0 0.5rem;
    }
    }
  }
}
@media screen and (max-width : 375px){
  .edit-invoice{
    &--hide {
      left: -200vw;
      top: 7.2rem;
    }
    &--show {
      left: 0;
      top: 7.2rem;
    }
  }
}