@import '../../variables';
.invoice-items{
    background-color: #F9FAFE;
    border-radius: 1rem;
    overflow: hidden;

    &--items{
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        ul p{
            margin-bottom: 2rem;
        }
        li{
            margin: 2rem 0;
            font-weight: bold;
        }
        .item-qty{
            text-align: center;
            li{
                color: $input;
            }
        }
        .item-price{
            text-align: end;
            li{
                color: $input;
            }
        }
        
        .item-total{
            text-align: end;
        }
    }
    li{
        list-style-type: none;
    }
    footer{
        display: flex;
        padding: 3rem;
        justify-content: space-between;
        align-items: center;
        background-color: $nav-bg;
        color: white;
    }
}
// DARK THEME 
body.dark-theme{
    .invoice-items{
        background-color: #252945;
        &--items{
            li{
                color: white;
            }
            p{
                color: $gray;
            }
            .item-qty li{
                    color: $gray;
                }
            }
            .item-price li{
                    color: $gray;
                }
            }
            footer{
                background-color: black;
            }
            .item .grayish{
            color: #888EB0;
            }
}
// MEDIA QUERY 
@media screen and (max-width: 426px) {
    .invoice-items--items{
        padding: 2rem;
        display: flex;
        flex-direction: column; 
        .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        margin: 1rem 0;
        .items-left p:first-of-type{
            margin-bottom: 0.5rem;
        }
        .grayish{
            color: #7E88C3;
        }
    }
}
}