@import '../../variables';
.invoice-page{
    position: relative;
    .back-btn{
        margin-bottom: 3rem;
    }
    &--invoice{
        background-color: #fff;
        border-radius: 1rem;
        padding: 5rem;
    }
}