@import '../../variables';
.invoice-page{
    position: relative;
    .back-btn{
        margin-bottom: 3rem;
    }
    &--invoice{
        background-color: #fff;
        border-radius: 1rem;
        padding: 5rem;
    }
}
// DARK THEME
body.dark-theme{
    .invoice-page--invoice{
        background-color: $invoice-dark-bg;
    }
}
// MEDIA QUERY
@media screen and (max-width: 426px) {
        .invoice-page--invoice{
            padding: 3rem;
        }
}