@import '../../variables';
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .left-side{
        .hash{
            color: #888EB0;
        }
        h3{
            margin-bottom: 1rem;
        }
    }
    p,span{
        color: $input;
    }
    
    .address{
        display: flex;
        flex-direction: column;
        text-align: end;
        span{
            margin: 0.25rem 0;
        }
    }
}
// DARK THEME
body.dark-theme{
    header span, header p, header h3{
        color: $gray;
    }
}