@import '../../variables';
.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 99;
}
.modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-itself{
    display: flex;
    max-width: 90vw;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    animation: popIn 0.15s ease-in-out;
    h2,p{
        margin: 1rem 0;
    }
    p{
        color: $input;
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
    }
    button:first-of-type{
        margin: 0 1rem;
    }
}
// DARK THEME
body.dark-theme{
    .modal-itself{
        background-color: $invoice-dark-bg;
        color: #fff;
        p{
            color: $gray;
        }
    }
}

// ANIMATION
@keyframes popIn {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}