.back-btn{
    svg{
        margin-right: 2rem;
    }
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
// DARK THEME
body.dark-theme{
    .back-btn{
        color: #fff;
    }
}