@import '../../variables';
.invoice-preview{
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 6px;
    box-shadow: 0px 4px 10px -5px rgba(black,0.4);
    &--id{
        font-weight: bold;
        .hash{
            color: $input;
        }
    }
    &--date,&--name{
        color: #858BB2;
    }
    svg{
        display: grid;
        justify-self: flex-end;
    }
}
// DARK THEME
body.dark-theme{
    .invoice-preview{
        background-color: $invoice-dark-bg;
        &--date,&--name,&--id,&--amount{
            color: #fff;
        }
    }
}