.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &--buttons{
        display: flex;
        button:first-of-type{
            margin-right: 2rem;
        }
    }
}