.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    h1{
        margin-bottom: 0.5rem;
    }
    &--buttons{
        display: flex;
        button:first-of-type{
            margin-right: 2rem;
        }
    }
}
// DARK THEME
body.dark-theme{
    .header-main{
        color: #fff;
    }
}
// MEDIA QUERY
@media screen and (max-width: 426px) {
    .header-main--buttons button:first-of-type{
        margin-right: 0;
    }
}