@import '../../variables';
.react-calendar{
    max-width: 24rem;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    position: absolute;
    margin-top: 1rem;
    background-color: #fff;
    z-index: 2;
    &__tile{
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        margin: 0.5rem;
        &--active{
            color: $purple;
        }
        &:hover{
            color: $purple;
        }
    }
    &__navigation__arrow{
        background-color: transparent;
        border: none;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 600;
        color: $purple;
        cursor: pointer;
    }
    &__navigation__label{
        background-color: transparent;
        border: none;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 600;
        
    }
    &__month-view__days__day--neighboringMonth{
        color: $gray;
    }
    &__month-view__days,
    &__year-view__months,
    &__decade-view__years,
    &__century-view__decades{
        justify-content: center;
        padding: 0.5rem 0;
    }
}
.calendar--input{
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid $gray;
    border-radius: 6px;
    max-width: 24rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:active,&:hover{
        border: 1px solid $purple;
    }
}

// DEFAULTS REMOVE
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button,
.react-calendar__month-view__weekdays__weekday{
    display: none;
}
// DARK THEME
body.dark-theme{
    .react-calendar{
        background-color: $invoice-dark-bg;
        &__tile{
            color: #fff;
            &--active{
                color: $purple;
            }
            &:hover{
                color: $purple;
            }
            
        }
        &__month-view__days__day--neighboringMonth{
            color: $input;
        }
        &__navigation__label{
            color: #fff;
        }
    }
    .calendar--input{
        color: #fff;
    border: 1px solid #252945;

    }
}
// MEDIA QUERY
@media screen and (max-width: 595px){
    .calendar--input{
        min-width: 100%;
    }
}