$purple: #7C5DFA;
$light-purple: #9277FF;
$gray: #DFE3FA;
$nav-bg: #373B53;

// BUTTONS
$button-1-background: #7C5DFA;
$button-1-hover: #9277FF;
$button-1-text: #fff;
$button-2-light-text: #7E88C3;
$button-2-light-background: #F9FAFE;
$button-2-light-hover: #DFE3FA;
$button-2-dark-text: #DFE3FA;
$button-2-dark-background: #252945;
$button-2-dark-hover: #fff;
$button-3-light-text: #888EB0;
$button-3-light-background: #373B53;
$button-3-light-hover: #0C0E16;
$button-3-dark-text: #DFE3FA;
$button-3-dark-background: #373B53;
$button-3-dark-hover: #1E2139;
$button-4-text: #fff;
$button-4-background: #EC5757;
$button-4-hover: #FF9797;
$button-5-text: #7E88C3;
$button-5-background: #F9FAFE;
$button-5-hover: #DFE3FA;