@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');
@import './variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Spartan', sans-serif;
  background-color: $light-bg;
}
h1{
  font-size: 3.2rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.2rem;
}
p,li,span,::placeholder,label{
  font-size: 1.2rem;
}
.App{
  margin-left: 10rem;
}
input{
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid $gray;
  border-radius: 5px;
  outline: none;
  &:active,&:focus{
    border:1px solid $purple;
  }
}
label{
  color:$input;
  font-weight: bold;
}